/* propiedades.css */
.propiedades-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.propiedades-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 15px; /* Espacio entre las cards */
    padding: 20px; /* Espaciado exterior */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
  }

.propiedades-card {
    flex: 0 0 auto;
    position: relative;
    width: 300px; /* Ancho automatico para ajustarse al grid */
    height: 400px;
    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.propiedades-card:hover {
    transform: scale(1.1); /* Efecto de zoom al hacer hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra al hacer hover */
}

.propiedades-card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}



/*Responsive styles*/
@media (max-width: 768px) {
    .propiedades-grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }
    .propiedades-card {
        width: 200px;
        height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .propiedades-grid-container {
      grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
    .propiedades-card {
        width: 200px;
        height: 300px;
    }
  }


