.inicio-main-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 19px;
  align-items: center;
  min-height: 100vh; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.header-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  max-width: 55%;
  padding: 20px;
  background-color: rgba(58, 58, 58, 0.384);
  border-radius: 20px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: black;
  padding: 10px;
  text-align: center;
}

.header-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight:bold;
  font-size: 20px; 
  color: rgb(209, 207, 207);
  margin: 6px;
  text-align: center;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-rurales {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  margin-right: 10px;
  background-color: rgb(119, 0, 0);
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 38px;
  line-height: 48px;
  color: rgb(119, 0, 0);
}

.destacadas-section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 6px;
  margin-right: 6px;
}

.contacto-section {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 20px; 
  padding: 20px;
}

.contacto-text-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-column {
  width: 50%;
}

.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 8px;
  text-align: left;
}

.cta-contacto-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 100px;  
  border-radius: 5px;
  color: rgb(81, 81, 236);
}

.short-text {
  display: none;
}

.about-us-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 6px;
  margin-right: 6px;
  gap: 20px; 
  padding: 20px;
}

.about-us-text {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  text-align: center;
}

.propiedades-main-section {
  display: flex;
  flex-direction: column;
  max-height: 625px;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 19px;
  align-items: flex-start;
  height: 100vh;
  max-height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.propiedades-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 7%;
  max-width: 55%;
  margin-bottom: 10px;
}

.propiedades-header-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 900;
  margin-left: 6px;
}

.propiedades-header-description {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 20px; 
    color: whitesmoke;
    margin: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.propiedades-header-container {
  max-width: 95%;
  margin-top: 45px;
  margin-bottom: 20px;
  padding: 5%;
}
  
.propiedades-header-title {
  font-size: 28px;
  line-height: 38px;
  text-align: start;
}

.propiedades-header-description {
  text-align: start;
  color: rgb(119, 0, 0);
}

.propiedades-cards-section {
  margin-top: 10px;
  justify-content: center;
}

.title {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 4px;
}

.contacto-props-section {
  justify-content: center;
  max-width: 100%;
}

.contacto-props-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*Contact page*/
.contacto-form-section {
  margin-top: 35px;
  margin-left: 6px;
  margin-right: 6px;
}

/*RESPONSIVE STYLING*/

/*Responsive inicio*/
@media (max-width: 750px) {
  .inicio-main-section {
    min-height: auto;
    padding: 20px 10px;
    justify-content: flex-start;
  }

  .header-info-container {
    max-width: 95%;
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 5%;
  }

  .header-title {
    font-size: 28px;
    line-height: 38px;
  }

  .header-description {
    font-size: 18px;
  }

  .header-buttons {
    flex-direction: column;
    align-items: center;
  }

  .button-rurales {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}


@media (max-width: 750px) {
  .destacadas-section {
    padding: 15px;
  }

  .title {
    font-size: 28px;
    line-height: 38px;
    max-width: 280px;
    margin-bottom: 4px;
  }
}

/*Contacto responsive*/
@media (max-width: 750px) {
  .contacto-section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .contacto-text-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    align-items: center;
  }
  
  .title {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 4px;
  }

  .text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .right-column,
  .left-column {
    width: 100%;
  }
  
  .full-text {
    display: none;
  }

  .short-text {
    display: block;
  }

  .cta-contacto-button {
    margin-top: 7px;
    order: 3;
  }

  .right-column {
    order: 2;
  }

  .contacto-text-section {
    order: 1;
  }
}

/*Responsive about-us*/
@media (max-width: 750px) {
  .about-us-section {
    padding: 15px;
  }
}

/*Propiedades rsponsive*/
@media (max-width: 750px) {
  .propiedades-main-section {
    min-height: auto;
    padding: 20px 10px;
    justify-content: flex-start;
    background-size: cover;
    background-position: 50%;
  }
}

