.destacadas-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: -20px;   
}

.destacadas-slider-container { 
    display: flex;
    transition: all 0.3s ease;
    gap: 1rem;
    max-width: 95%;
}

.destacadas-cards-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    transition: transform 0.5s ease-in-out;
}

.destacadas-card {
    flex-shrink: 0;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: fit-content;
    max-height: fit-content;
    transform: scale(0.8); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.destacadas-card.active { 
    opacity: 1; 
    transform: scale(1); 
}

.destacadas-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 12px 40px rgba(0, 0, 0, 0.5);
}

.destacadas-card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.destacadas-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: light;   
    margin-top: 7px;
    margin-bottom: 5px;
}

.destacadas-card-title {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;    
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(81, 81, 236);
}

.destacadas-slider-buttons {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-top: 50px;
    padding: 5px;
}

.prev-button, .next-button {
    top: 50%; transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 10%; 
    z-index: 1;
    margin-left: 5px;
}

.prev-button { left: 10px; } 

.next-button { right: 10px; }

@media (max-width: 750px) {
    .destacadas-cards-container {
      gap: 10px;
    }
  }
  
  @media (max-width: 500px) {
    .destacadas-cards-container {
      gap: 10px;
    }
  }

