.destacadas-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destacadas-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destacadas-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 12px 40px rgba(0, 0, 0, 0.5);
}

.destacadas-card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.destacadas-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: light;   
    margin-top: 7px;
    margin-bottom: 5px;
}

.destacadas-card-title {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;    
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(81, 81, 236);
}