.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;   
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 19px;
}

.contact-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.contact-form textarea {
    width: 100%;
    height: 100px;
}

.contact-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(81, 81, 236);
}

.about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.about-us-title {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
    color: rgb(119, 0, 0);
}

.about-us-text {
    font-family: "Roboto", sans-serif;
    font-weight: light;
    font-size: 16px;
    line-height: 24px;
}

.info-box-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.info-box {
    background-color: rgb(175, 169, 169, 2);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    position: relative;
}

.info-box-img {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 5px;
}

.info-box button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.info-box-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font:  sans-serif;
    margin-bottom: 5px;
}

.info-box-description {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font:  sans-serif;

}

/*Interactive map*/
.map-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.map-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1%;
    max-width: 35%;
    margin-bottom: 12%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: rgb(119, 0, 0);
    padding: 10px;
    text-align: center;
}

.map-iframe {
    border: gray solid 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
}

/*Responsive map*/
@media (max-width: 750px) {
    .map-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }    

    .map-title {
        display: flex;
        flex-direction: row;
        justify-content: start;
        font-size: 20px;
        line-height: 28px;
        max-width: 280px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 7px;
    }

    .map-iframe {
        width: 250px;
        height: 200px;
    }
}